/* montserrat-300 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-300.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: fallback;
}
/* montserrat-regular - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: fallback;
}
/* montserrat-500 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: fallback;
}
/* montserrat-600 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: fallback;
}
/* montserrat-700 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: fallback;
    font-display: fallback;
}
/* montserrat-italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: fallback;
}
